.caja1 {
    background-color: greenyellow;
    height: 50px;
}
.cajita1 {
    background-color: orangered;
}

.caja2{
    background-color: purple;
}
.cajita2 {
    background-color: blue;
}

.caja3 {
    background-color: yellow;
     
}
.cajita3{
    background-color: fuchsia;
}

.caja4{
    background-color: aquamarine;
}
.cajita4{
    background-color: #00FFFB;
}

.caja5{
    background-color: #FF0023;
}
.cajita5{
    background-color: beige;
}

.caja6{
    background-color: #00B9FF;
}
.cajita6{
    background-color: coral;
}

.caja7{
    background-color: brown;
}
